FROM apaas/edas:latest

ENV APP_HOME /home/admin/app

ENV JAVA_OPTS="$JAVA_OPTS @java.options@ -Xdebug -Xrunjdwp:server=y,transport=dt_socket,address=8787,suspend=n -Dedas.dubbo.subscribe.time=20 -XX:-OmitStackTraceInFastThrow"

ENV SPRING_PROFILES_ACTIVE=@spring.active@
ENV TZ="Asia/Shanghai"

ARG JAR_FILE=trade-platform-bootstrap/target/trade-platform-bootstrap-@project.version@.jar
COPY ${JAR_FILE} ${APP_HOME}/app.jar
COPY plugin ${APP_HOME}/plugin

# CMD ["/bin/bash","/start.sh"]