<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- https://github.com/spring-projects/spring-boot/blob/v1.5.13.RELEASE/spring-boot/src/main/resources/org/springframework/boot/logging/logback/defaults.xml -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <springProperty scope="local" name="logstash_ip" source="logstash.host" defaultValue=""/>
    <springProperty scope="local" name="logstash_port" source="logstash.port" defaultValue=""/>
    <property name="APP_NAME" value="gmall-trade-center" />
    <property name="LOG_PATH" value="${APP_HOME}/logs" />
    <property name="LOG_FILE" value="${LOG_PATH}/application.log" />
    <property name="PROFILING_LOG_FILE" value="${LOG_PATH}/profiling.log" />
    <property name="CONSOLE_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}]\t[%-5p]\t[%thread]\t %X{TRACE_ID} %X{first} %X{last} %m%n" />
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <!-- Logstash server host and port -->
        <destination>${logstash_ip}:${logstash_port}</destination>
        <encoder charset="UTF-8"
                 class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "service": "${APP_NAME:-}",
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "logId": "%X{logId}",
                        "clientIp": "%X{clientIp}",
                        "class": "%logger{40}",
                        "message": "%message",
                        "stack_trace": "%exception{20}",
                        "traceId": "%X{TRACE_ID}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
    <appender name="APPLICATION"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="Profiling"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${PROFILING_LOG_FILE}</file>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${PROFILING_LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="APPLICATION" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="logstash"/>
    </root>
    <logger name="at.rechnerherz.aoprofiling.ProfilingAspect"  additivity="false">
        <appender-ref ref="Profiling" />
    </logger>
</configuration>