<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aliyun.gts.gmall.platform.trade.persistence.mapper.TcDeliveryFeeMapper">

    <resultMap id="TcDeliveryFeeMap" type="com.aliyun.gts.gmall.platform.trade.domain.dataobject.TcDeliveryFeeDO"></resultMap>

    <select id="queryMatchDeliveryFee"  resultMap="TcDeliveryFeeMap">
        SELECT
            id , fee_code, category_id,
            category_name, merchant_code,
            merchant_name, fee ,
            delivery_route ,delivery_type ,
            is_category_all, is_merchant_all
        FROM tc_delivery_fee
        WHERE deleted = 0
        and active = 1
        AND (
            (
                delivery_route = #{deliveryRoute}
                and delivery_type = #{deliveryType}
                and category_id =  #{categoryId}
                and merchant_code =  #{merchantCode}
            )
            or
            (
                delivery_route = #{deliveryRoute}
                and delivery_type = #{deliveryType}
                and is_category_all =  #{isCategoryAll}
                and merchant_code =  #{merchantCode}
            )
            or
            (
                delivery_route = #{deliveryRoute}
                and delivery_type = #{deliveryType}
                and category_id =  #{categoryId}
                and is_merchant_all =  #{isMerchantAll}
            )
            or
            (
                delivery_route = #{deliveryRoute}
                and delivery_type = #{deliveryType}
                and is_category_all = #{isCategoryAll}
                and is_merchant_all = #{isMerchantAll}
            )
        )
    </select>
</mapper>
